
<% let msg = ""; %>
<% if (typeof message !== "undefined") { %>
    <%   showMessage = "Thank you for your message!"; %>
<% } else {  %>
    <%   showMessage = ""; %>
<% } %>

<form 
    action="/profiles/create"
    method="post"
>
    <section class="contact-page">
        <h2 class="contact-h2">Create Profile</h2>
        <h2 id="message" class="contact-message"> <%= showMessage %> </h2>

        <h2>Name</h2>
        <input type="text" name="name" id="">
        <h2>Interests</h2>
        <input type="text" name="int1" id="">
        <input type="text" name="int2" id="">
        <input type="text" name="int3" id="">
        <h2>Add your picture</h2>
        <img
            src=""
            alt=""
            width="100%"
        />
        <input 
            id="createButton"
            type="submit"
            class="contact-button"
            title="Click to add the new Profile"
            value="Save Profile"
        >
    </section>
</form>